<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/551/76097551.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/551/76097551.jpg</string>
		<key>content</key>
		<string>这是第一个视频</string>
		<key>width</key>
		<string>720</string>
		<key>height</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/479/76097479.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/479/76097479.jpg</string>
		<key>content</key>
		<string>这是第二个视频</string>
		<key>width</key>
		<string>576</string>
		<key>height</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/970/75779970.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/970/75779970.jpg</string>
		<key>content</key>
		<string>这是第三个视频</string>
		<key>width</key>
		<string>720</string>
		<key>height</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/204/76097204.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/204/76097204.jpg</string>
		<key>content</key>
		<string>这是第四个视频</string>
		<key>width</key>
		<string>576</string>
		<key>height</key>
		<string>720</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/022/76097022.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/022/76097022.jpg</string>
		<key>content</key>
		<string>这是第五个视频</string>
		<key>width</key>
		<string>576</string>
		<key>height</key>
		<string>1036</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/550/76097550.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/550/76097550.jpg</string>
		<key>content</key>
		<string>这是第六个视频</string>
		<key>width</key>
		<string>960</string>
		<key>height</key>
		<string>544</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/488/75779488.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/488/75779488.jpg</string>
		<key>content</key>
		<string>这是第七个视频</string>
		<key>width</key>
		<string>1024</string>
		<key>height</key>
		<string>576</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/809/76096809.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/809/76096809.jpg</string>
		<key>content</key>
		<string>这是第⑧个视频</string>
		<key>width</key>
		<string>1024</string>
		<key>height</key>
		<string>576</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/603/76096603.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/603/76096603.jpg</string>
		<key>content</key>
		<string>这是第9个视频</string>
		<key>width</key>
		<string>576</string>
		<key>height</key>
		<string>576</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/059/75778059.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/059/75778059.jpg</string>
		<key>content</key>
		<string>这是第10个视频</string>
		<key>width</key>
		<string>576</string>
		<key>height</key>
		<string>1024</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/037/76096037.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/037/76096037.jpg</string>
		<key>content</key>
		<string>这是第11个视频</string>
		<key>width</key>
		<string>720</string>
		<key>height</key>
		<string>1280</string>
	</dict>
	<dict>
		<key>videoURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/video/029/76096029.mp4</string>
		<key>thumbnailURL</key>
		<string>http://cdnringbd.shoujiduoduo.com/ringres/userv1/cover/029/76096029.jpg</string>
		<key>content</key>
		<string>这是第12个视频</string>
		<key>width</key>
		<string>720</string>
		<key>height</key>
		<string>1280</string>
	</dict>
</array>
</plist>
