<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Simple</key>
	<dict>
		<key>Simple</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple</string>
				<key>class</key>
				<string>SimpleViewController</string>
				<key>desc</key>
				<string>simple</string>
			</dict>
		</array>
		<key>QRCode</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/QRCode</string>
				<key>class</key>
				<string>QRCodeViewController</string>
				<key>desc</key>
				<string>二维码扫描</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/QRCode/QRCodeCreate</string>
				<key>class</key>
				<string>QRCodeCreateViewController</string>
				<key>desc</key>
				<string>二维码创建</string>
			</dict>
		</array>
		<key>Advantage</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/advantage</string>
				<key>class</key>
				<string>AdvantageViewController</string>
				<key>desc</key>
				<string>advantage</string>
			</dict>
		</array>
		<key>Preprocessor</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/preprocessor</string>
				<key>class</key>
				<string>PreprocessorViewController</string>
				<key>desc</key>
				<string>preprocessor</string>
			</dict>
		</array>
		<key>Foundation</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/foundation</string>
				<key>class</key>
				<string>FoundationViewController</string>
				<key>desc</key>
				<string>foundation</string>
			</dict>
		</array>
		<key>Introduction</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/introduction</string>
				<key>class</key>
				<string>IntroductionViewController</string>
				<key>desc</key>
				<string>入门</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/introduction/property</string>
				<key>class</key>
				<string>FoundationViewController</string>
				<key>desc</key>
				<string>foundation</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/introduction/constructor</string>
				<key>class</key>
				<string>ConstructorViewController</string>
				<key>desc</key>
				<string>Constructor</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/introduction/protocol</string>
				<key>class</key>
				<string>ProtocolViewController</string>
				<key>desc</key>
				<string>Protocol</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/introduction/msgforward</string>
				<key>class</key>
				<string>MsgForwardViewController</string>
				<key>desc</key>
				<string>消息与转发</string>
			</dict>
		</array>
		<key>Memory</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/memory</string>
				<key>class</key>
				<string>MemoryViewController</string>
				<key>desc</key>
				<string>memory</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/memory/ocmemory</string>
				<key>class</key>
				<string>OCMemoryViewController</string>
				<key>desc</key>
				<string>内存管理</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/memory/savedata</string>
				<key>class</key>
				<string>SaveDataViewController</string>
				<key>desc</key>
				<string>常规的数据存储</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/memory/arc</string>
				<key>class</key>
				<string>ARCViewController</string>
				<key>desc</key>
				<string>ARC内存管理</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/memory/arc/foundationbridge</string>
				<key>class</key>
				<string>FoundationBridgeViewController</string>
				<key>desc</key>
				<string>直接桥接</string>
			</dict>
		</array>
		<key>Multithread</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/multithread</string>
				<key>class</key>
				<string>MultithreadViewController</string>
				<key>desc</key>
				<string>多线程</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/multithread/gcd</string>
				<key>class</key>
				<string>GCDViewController</string>
				<key>desc</key>
				<string>GCD</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/multithread/thread</string>
				<key>class</key>
				<string>NSThreadViewController</string>
				<key>desc</key>
				<string>NSThread</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/multithread/queue</string>
				<key>class</key>
				<string>QueueViewController</string>
				<key>desc</key>
				<string>Queue</string>
			</dict>
		</array>
		<key>Debug</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/debug</string>
				<key>class</key>
				<string>DebugViewController</string>
				<key>desc</key>
				<string>Debug</string>
			</dict>
		</array>
		<key>Security</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/security</string>
				<key>class</key>
				<string>SecurityViewController</string>
				<key>desc</key>
				<string>Security</string>
			</dict>
		</array>
		<key>UIControl</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol</string>
				<key>class</key>
				<string>UIControlController</string>
				<key>desc</key>
				<string>UI控件</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/automaticdimension</string>
				<key>class</key>
				<string>AutomaticDimensionViewController</string>
				<key>desc</key>
				<string>tableview自适应高度</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/chatemoji</string>
				<key>class</key>
				<string>ChatEmojiViewController</string>
				<key>desc</key>
				<string>emoji排版</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/pagecontrol</string>
				<key>class</key>
				<string>PagecontrolViewController</string>
				<key>desc</key>
				<string>pagecontrol</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/searchbar</string>
				<key>class</key>
				<string>SearchBarViewController</string>
				<key>desc</key>
				<string>ios8以上searchbar用法</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/tag</string>
				<key>class</key>
				<string>TagViewController</string>
				<key>desc</key>
				<string>标签用法</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/photo</string>
				<key>class</key>
				<string>PhotoViewController</string>
				<key>desc</key>
				<string>照片资源</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/uicontrol/waterfallflow</string>
				<key>class</key>
				<string>WaterfallFlowViewController</string>
				<key>desc</key>
				<string>瀑布流</string>
			</dict>
		</array>
		<key>Animation</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://simple/animation</string>
				<key>class</key>
				<string>AnimationController</string>
				<key>desc</key>
				<string>动画</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/animation/drawcircle</string>
				<key>class</key>
				<string>DrawCircleController</string>
				<key>desc</key>
				<string>手绘画圈</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://simple/animation/dynamicanimator</string>
				<key>class</key>
				<string>DynamicAnimatorController</string>
				<key>desc</key>
				<string>物理引擎</string>
			</dict>
		</array>
	</dict>
	<key>Advance</key>
	<dict>
		<key>Advance</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance</string>
				<key>class</key>
				<string>AdvanceViewController</string>
				<key>desc</key>
				<string>advance</string>
			</dict>
		</array>
		<key>Runtime</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance/runtime</string>
				<key>class</key>
				<string>RumtimeViewController</string>
				<key>desc</key>
				<string>运行时</string>
			</dict>
		</array>
		<key>Runloop</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance/runloop</string>
				<key>class</key>
				<string>RunloopViewController</string>
				<key>desc</key>
				<string>运行循环</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://advance/runloop/runloop1</string>
				<key>class</key>
				<string>Runloop1ViewController</string>
				<key>desc</key>
				<string>运行循环</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://advance/runloop/runloop2</string>
				<key>class</key>
				<string>Runloop2ViewController</string>
				<key>desc</key>
				<string>运行循环</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://advance/runloop/runloop3</string>
				<key>class</key>
				<string>Runloop3ViewController</string>
				<key>desc</key>
				<string>运行循环</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://advance/runloop/runloop4</string>
				<key>class</key>
				<string>Runloop4ViewController</string>
				<key>desc</key>
				<string>运行循环</string>
			</dict>
		</array>
		<key>DesignMode</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance/designmode</string>
				<key>class</key>
				<string>DesignModeViewController</string>
				<key>desc</key>
				<string>ios常用设计模式</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://advance/designmode/login</string>
				<key>class</key>
				<string>LoginViewController</string>
				<key>desc</key>
				<string>登录</string>
			</dict>
		</array>
		<key>Audio</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance/audio</string>
				<key>class</key>
				<string>AudioViewController</string>
				<key>desc</key>
				<string>音频</string>
			</dict>
		</array>
		<key>Video</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance/video</string>
				<key>class</key>
				<string>VideoViewController</string>
				<key>desc</key>
				<string>视频</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://advance/video/avfoundation</string>
				<key>class</key>
				<string>AVFoundationViewController</string>
				<key>desc</key>
				<string>AVFoundation</string>
			</dict>
		</array>
		<key>CoreText</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://advance/coretext</string>
				<key>class</key>
				<string>CoreTextViewController</string>
				<key>desc</key>
				<string>CoreText</string>
			</dict>
		</array>
	</dict>
	<key>Practice</key>
	<dict>
		<key>Practice</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://practice</string>
				<key>class</key>
				<string>PracticeViewController</string>
				<key>desc</key>
				<string>practice</string>
			</dict>
		</array>
		<key>Setting</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://practice/setting</string>
				<key>class</key>
				<string>SettingViewController</string>
				<key>desc</key>
				<string>设置</string>
			</dict>
		</array>
	</dict>
	<key>Mine</key>
	<dict>
		<key>Mine</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://mine</string>
				<key>class</key>
				<string>MineViewController</string>
				<key>desc</key>
				<string>我的页面</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://mine/font</string>
				<key>class</key>
				<string>SystemFontController</string>
				<key>desc</key>
				<string>系统字体</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://mine/constraintpriority</string>
				<key>class</key>
				<string>ConstraintPriorityController</string>
				<key>desc</key>
				<string>约束优先级</string>
			</dict>
			<dict>
				<key>url</key>
				<string>sumup://mine/hittest</string>
				<key>class</key>
				<string>HitTestController</string>
				<key>desc</key>
				<string>响应链</string>
			</dict>
		</array>
	</dict>
	<key>Common</key>
	<dict>
		<key>Common</key>
		<array>
			<dict>
				<key>url</key>
				<string>sumup://common/web</string>
				<key>class</key>
				<string>WKWebViewController</string>
				<key>desc</key>
				<string>web容器</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
